body {
    background-color: darkgrey;
    font-family: Arial;
}

button {
        background-color: dimgray; 
        border: none; 
        color: white; 
        padding: 15px 32px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font-size: 16px; 
        margin: 4px 2px; 
        cursor: pointer; 
        border-radius: 8px; 
 }

button:hover {
	background-color: gray; 
}

span {
    margin-right: 10px;
}

img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
	text-align: center;
	color: white;
}

#names p, .address p {
    font-size: 24px;
    text-align: center; 
}

#label {
    font-size: 12px;
    margin-bottom: 0;
}

.employee,
.department {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    background-color: dimgray;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.employee div,
.department div {
    flex: 1;
    margin-right: 10px;
}

.employeeData p.label,
.contacts p.label {
    font-weight: bold;
}

.employee p,
.department p {
    margin: 0;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
